﻿.btn {
  cursor: pointer;
  transition: .5s;
  &_submit {
    border: 0;
    width: 100%;
    color: #fff;
    padding: 18px;
    font-size: 24px;
    text-align: center;
    background-color: @red;
    &:disabled {
      background-color: #ccc;
      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
  &:active,
  &:focus {
    outline: none;
    color: #fff;
  }
  &:active {
    &:focus {
      outline: none;
      color: #fff;
    }
  }
  &:hover {
    opacity: .8;
  }

  &_toggle {
    margin-top: 5px;
    background-color: transparent !important;
    width: 28px;
    height: 30px;
    float: right;
    z-index: 3;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    .btn {
      &__text {
        bottom: -15px;
        font-size: 10px;
        position: absolute;
        top: auto;
        text-transform: uppercase;
        left: -3px;
        color: #ccc;
      }
      &__line {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #ccc;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      &__line:nth-child(1) {
        top: 6px;
      }
      &__line:nth-child(2) {
        top: 14px;
      }
      &__line:nth-child(3) {
        top: 22px;
      }
    }
    &:hover {
      background-color: transparent;
    }
  }
}
.open {
  .btn {
    &_toggle {
      position: fixed;
      right: 15px;
    }
    &__line {
      &:nth-child(1) {
        top: 16px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        top: 16px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}
