﻿.caption {
  font-family: 'corpid';
  &__title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }
  &__subtitle {
    font-size: 15px;
    margin: 0 0 5px;
    color: @grey-middle;
  }
  &_header {
    .pull-left;
  }
}
