﻿/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  padding-top: 2px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: -1px;
  width: 20px; 
  height: 20px;
  background: #fff;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-image: url(../img/common/checkbox.png);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left:0; 
  top: -1px;
  width: 20px; 
  height: 20px;
  transition: all .2s;
  background-repeat: no-repeat;
  background-image: url(../img/common/checkbox-active.png);
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
  background-repeat: no-repeat;
  background-image: url(../img/common/checkbox-active.png);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  outline: none;
  transform: scale(1);
  background-image: url(../img/common/checkbox-active.png);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
}

/* hover style just for information */
label:hover:before {
  
}
