﻿* {
	box-sizing: border-box;
}
body {
	color: @dark;
	font-size: 16px;
	background-color: @white;
  font-family: 'corpid', 'Open sans', sans-serif;
  &.mobile-menu-open {
    height: 100%;
    overflow: hidden;
  }
}
a {
	color: @blue;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
p {
	color: #404040;
	line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	
}
