﻿/** Corpid regular **/
@font-face {
  font-family: 'corpid';
  src: url('../fonts/corpid/corpid-regular/corpid-regular.eot');
  src: url('../fonts/corpid/corpid-regular/corpid-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/corpid/corpid-regular/corpid-regular.woff2') format('woff2'),
       url('../fonts/corpid/corpid-regular/corpid-regular.woff') format('woff'),
       url('../fonts/corpid/corpid-regular/corpid-regular.ttf')  format('truetype'),
       url('../fonts/corpid/corpid-regular/corpid-regular.svg#corpid-regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/** Corpid bold **/
@font-face {
  font-family: 'corpid';
  src: url('../fonts/corpid/corpid-bold/corpid-bold.eot');
  src: url('../fonts/corpid/corpid-bold/corpid-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/corpid/corpid-bold/corpid-bold.woff2') format('woff2'),
       url('../fonts/corpid/corpid-bold/corpid-bold.woff') format('woff'),
       url('../fonts/corpid/corpid-bold/corpid-bold.ttf')  format('truetype'),
       url('../fonts/corpid/corpid-bold/corpid-bold.svg#corpid-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}