.developer {
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, .05);
  &__link {
    display: block;
    transition: .5s;
    color: @grey-middle;
    text-decoration: none;
    &:hover {
      color: @white;
      .developer__icon {
        fill: @white;
      }
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    transition: .5s;
    fill: @grey-middle;
    margin: 10px 0 0 12px;
  }
  &__text {
    height: 0;
    opacity: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    visibility: hidden;
    vertical-align: top;
    letter-spacing: .2px;
    display: inline-block;
    transition: visibility 0s linear 0.5s;
  }
  &_mobile {
    display: none;
  }
}