.family-code {
  position: relative;
  margin: 10px 0 0 32px;
  transition: all .5s ease;
  display: none;
  .clearfix;
  .hide-smooth;
  &.open {
    .show-smooth;
    display: block;
  }
  &__title {
    float: left;
    width: 130px;
    color: #6d6d6d;
    display: block;
    font-size: 12px;
    cursor: pointer;
    line-height: 15px;
    margin: 4px 9px 0 0;
    transition: all .5s ease;
    &:hover {
      color: @grey-middle;
    }
  }
  &__input {
    float: left;
    width: 70px;
    font-size: 14px;
    margin-right: 6px;
    padding: 7px 0 8px;
    border-radius: 6px;
    letter-spacing: .5px;
    font-family: 'truth';
  }
  &__help {
    float: left;
    position: relative;
  }
  &__help-sign {
    fill: #adb8c1;
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin: 5px 0 0 5px;
    transition: all .5s ease;
    &:hover {
      fill: @red;
      + .family-code__help-text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__help-text {
    opacity: 0;
    visibility: hidden;
    right: -250px;
    bottom: 24px;
    z-index: 2;
    color: #000;
    width: 250px;
    font-size: 13px;
    background: #f3f3f3;
    padding: 5px 8px;
    line-height: 15px;
    position: absolute;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    transition: all .5s ease;
  }
}
