﻿.header {
	&-top {
		background-color: @grey-light;
		.clearfix;
		&__link {
			opacity: 1;
			display: block;
			&:hover {
				opacity: .8;
				transition: all .5s;
			}
		}
	}
	&-middle {
		padding: 25px 0;
		.clearfix;
	}
	&-bottom {
		padding: 0;
		background-color: @grey-lighter;
		.clearfix;
	}
	&-underworld {
    position: relative;
    z-index: 1;
	}
}