﻿.info {
  margin: 9px 0 0;
  .clearfix;
  &__icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
  }
  &__text {
    width: 70%;
    float: left;
    margin: 2px 0 0;
    font-size: 14px;
    line-height: 16px;
  }
  &_danger {
    .info__icon {
      fill: @red;
    }
    .info__text {
      color: @red;
      font-family: 'truth';
    }
  }
}
