﻿.input {
  &_text {
    padding: 5px 0;
    font-size: 16px;
    text-indent: 8px;
    border-radius: 2px;
    color: @grey-middle;
    border: 1px solid @input;
    &:focus {
      outline: none;
      border: 1px solid @red;
    }
    &:active {
      outline: none
    }
    &:hover {

    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none
  }
  &:hover {

  }
}
