﻿.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .clearfix;
  &__item {
    
  }
  &_vertical {
    &__item {
      padding: 0 10px 0 8px;
      margin-bottom: 5px;
    }
  }
  &_horizontal {
    .list {
      &__item {
        .pull-left;
      }
    }
  }
  &_header-top {
    .list {
      &__link {
        display: block;
        font-size: 13px;
        font-weight: 400;
        padding: 8px 28px;
        color: @grey-dark;
        font-family: 'corpid';
        text-decoration: none;
        transition: all .5s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
      &__item {
        &:last-of-type {
          .pull-right;
        }
      }
    }
  }
  &_header-bottom {
    z-index: 2;
    width: 100%;
    display: table;
    position: relative;
    > .list__item {
      vertical-align: top;
      display: table-cell;
      > .list {
        &__link {
          text-align: center;
          padding: 10px 25px;
          &:hover {
            border-color: @white;
            background-color: @white;
            box-shadow: 0 5px 29px rgba(102, 102, 102, 0.3);
          }
        }
      }
    }
    .list {
      &_dropdown-wrap {
        left: 0;
        right: 0;
        top: 41px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: all 0.5s;
      }
      &__item {
        .pull-none;
        &_icon {
          .list {
            &__link {
              padding-bottom: 0;
              text-align: left;
              &:hover {
                box-shadow: none;
                border-color: transparent;
                background-color: transparent;
              }
            }
          }
        }
        &:hover {
          .list_dropdown-wrap {
            overflow: visible;
            max-height: 500px;
            opacity: 1;
          }
        }
      }
      &_dropdown {
        width: 100%;
        display: table;
        padding: 0 25px;
        background-color: @white;
        box-shadow: 0 5px 29px rgba(102, 102, 102, 0.3);
        > .list {
          &__item {
            width: 25%;
            vertical-align: top;
            display: table-cell;
            .clearfix;
            .pull-none;
          }
        }
        .list {
          &__header {
            padding: 15px 0;
            text-align: center;
          }
          &__text {
            margin: 0;
            font-size: 15px;
            font-family: 'corpid';
          }
          &__icon {
            width: 30px;
            height: 30px;
          }
        }
      }
      &_inner {
        margin: 0 0 15px;
        .list {
          &__item {
            margin-bottom: 5px;
          }
          &__link {
            color: @blue;
            font-size: 14px;
            font-weight: 400;
            &:hover {
              color: @red;
            }
          }
        }
      }
      &__link {
        display: block;
        font-size: 16px;
        color: @grey-average;
        font-family: 'corpid';
        text-decoration: none;
        transition: all .5s ease;
        border-bottom: 3px solid transparent;
      }
      &__icon {
        width: 20px;
        height: 20px;
        fill: @grey-middle;
        transition: all .5s ease;
        &:hover {
          opacity: .8;
        }
      }
      &__active {
        > .list {
          &__link {
            border-color: @red;
          }
        }
      }
    }
  }
  &_underworld {
    border: 1px solid #E6E6E6;
    border-top: 0;
    padding: 17px 15px;
    .list {
      &__item {
        margin-right: 20px;
        font-size: 14px;
      }
      &__text {
        color: @black;
        font-weight: 700;
      }
    }
  }
  &_stock {
    margin-left: 146px;
    .list {
      &__item {
        margin-bottom: 15px;
      }
      &__label {
        font-size: 14px;
        cursor: pointer;
        transition: all .5s ease;
        font-family: 'truth';
        &:hover {
          color: @grey-dark;
        }
      }
    }
  }
  &_compound {
    .list {
      &__item {
        margin-bottom: 15px;
      }
      &__label {
        font-size: 14px;
        cursor: pointer;
        transition: all .5s ease;
        font-family: 'truth';
        &:hover {
          color: @grey-dark;
        }
      }
      &__text {
        font-style: normal;
      }
    }
  }
  &_mobile {
    overflow: auto;
    padding: 74px 0 0;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 300px;
    right: -310px;
    position: fixed;
    background-color: #fff;
    transition: all 0.5s ease;
    .list {
      &__link {
        color: #000;
        display: block;
        font-size: 13px;
        padding: 15px 20px;
        text-decoration: none;
        background-color: #f7f7f7;
      }
    }
    &-dropdown {
      margin-left: 20px;
      .list {
        &__item {
          border-bottom: 1px solid #f2f2f2;
        }
        &__link {
          color: #666666;
          background-color: #fff;
          padding: 15px 20px 15px 0;
        }
      }
    }
  }
}
