﻿.logo {
	opacity: 1;
	display: inline-block;
	padding: 6px 30px 10px 15px;
	&:hover {
		opacity: .8;
		transition: all .5s;
	}
  &__svg {
    width: 275px;
    height: 38px;
  }
  &_header {
    .pull-left;
  }
  &_mobile {
  	float: left;
    background-image: url(../img/common/header-spr.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 110px;
    height: 50px;
    padding: 0;
    display: block;
    margin-top: 4px;
  }
}
