﻿// Tablet Landscape
@media (min-width: @desktop) {
  .mobile-menu-open {
    .list {
      &_mobile {
        right: -310px;
      }
    }
    .header {
      &_mobile {
        display: none;
      }
    }
    .btn {
      &_toggle {
        display: none;
      }
    }
  }
}
// Tablet Landscape
@media (max-width: @desktop) {
  .mobile-menu-open {
    .list {
      &_mobile {
        right: 0;
      }
    }
  }
  .container {
    width: @tablet;
  }
  .sub-nav,
  .new-year-bg-tl {
    display: none;
  }
  .container {
    width: @portrait;
  }
  .header {
    overflow: hidden;
  }
  .list {
    &_compound {
      .list {
        &__label {
          .clearfix;
        }
        &__circle {
          float: left;
          width: 18px;
          display: block;
        }
        &__text {
          float: left;
          display: block;
        }
      }
    }
    &_stock {
      .list {
        &__label {
          width: 80%;
          display: block;
        }
      }
    }
  }
  .stock {
    padding: 0 20px;
    &__header {
      padding: 24px 0 20px;
    }
    &__title {
      font-size: 31px;
      margin: 0 0 16px;
    }
    &__description {
      font-size: 16px;
      margin: 0 0 23px;
      line-height: 25px;
    }
    &__subtitle {
      font-size: 20px;
      margin: 0 0 18px;
      line-height: 28px;
    }
    &__compound {
      padding: 13px 0 17px;
    }
  }
  .stock__privacy {
    padding: 30px 0 34px;
  }
  .header {
    &_mobile {
      margin: 0 20px;
      padding: 10px 0;
      border-bottom: 1px solid #f3f3f3;
      display: block;
    }
  }
}
// Tablet Portrait
@media (max-width: @tablet) {
}
// Mobile
@media (max-width: @portrait) {
  .container {
    width: @full;
    &__column {
      &_half {
        float: none;
        width: @full;
        margin-bottom: 25px;
      }
    }
  }
  .family-code {
    margin: 11px 0 0 33px;
    &__title {
      float: none;
      width: auto;
      margin: 7px 10px 13px 0;
    }
    &__help-text {
      right: 19px;
      bottom: 23px;
      margin: 10px 0 0;
      width: 200px;
    }
    &__input {
      width: 207px;
      padding: 9px 0;
    }
    &__help-sign {
      margin: 7px 0 0 12px;
    }
  }
  .list {
    &_stock {
      margin-left: 0;
    }
  }
  input[type="radio"] + label span {
    margin: -3px 12px 0 0;
  }
  .info {
    margin: 16px 0 0;
    &__icon {
      margin: 0 13px 0 0;
    }
  }
}



