﻿.show {
	display: block;
}
.hide {
	display: none;
}
.pull-none {
	float: none;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix{
	zoom:1;
	&:before, &:after{ content:""; display:table; }
	&:after{ clear: both; }
}
.hide-smooth {
  opacity: 0;
  visibility: hidden;
}
.show-smooth {
  opacity: 1;
  visibility: visible;
}
