﻿.preloader {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .5s ease;
  background-color: rgba(255, 255, 255, .9);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/common/spinner.gif);
  .hide-smooth;
  &_open {
    .show-smooth;
  }
}
