﻿input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 11px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

input[type="radio"] + label span {
  border: 1px solid #dedede;
}

input[type="radio"]:checked + label span:before {
  content: '';
  top: 4px;
  left: 4px;
  position: absolute;
  width: 8px;
  height: 8px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  background-color: @red;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
