.sidebar {
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 63px;
  height: 100%;
  padding: 25px 0;
  position: fixed;
  transition: all .5s;
  background-color: @blue-dark;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  &:hover {
    width: 250px;
    .call-us {
      opacity: 1;
      width: auto;
      height: 100px;
      visibility: visible;
    }
    .menu {
      &__text {
        opacity: 1;
        overflow: visible;
        visibility: visible;
      }
    }
    .developer {
      &__text {
        height: auto;
        margin: 13px 0 0 10px;
        opacity: 1;
        overflow: visible;
        visibility: visible;
      }
    }
  }
}