.slick {
  &-dots {
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    li {
      padding: 0 8px;
      display: inline-block;
      button {
        width: 15px;
        height: 15px;
        display: block;
        text-indent: -9999px;
        border-radius: 100%;
        border: 1px solid @blue-dark;
        background-color: transparent;
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
        &:active {
          &:focus {
            outline: none;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      &.slick-active {
        button {
          background-color: @blue-dark;
        }
      }
    }
  }
  &-list {
    overflow: hidden;
  }
}