﻿.stock {
	padding: 0 10px;
	margin-bottom: 50px;
	&__header {
		padding: 24px 0 26px;
		border-bottom: 1px solid @smoke;
	}
	&__title {
		color: #303a44;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
  	margin: 0 0 28px;
  	font-family: 'truth';
	}
	&__description {
		font-size: 20px;
    margin: 0 0 23px;
		line-height: 24px;
	}
	&__caution {
		color: @red;
		font-size: 13px;
		line-height: 16px;
	}
	&__compound {
		padding: 16px 0 3px;
		border-bottom: 1px solid @smoke;
		.clearfix;
	}
	&__subtitle {
		font-size: 26px;
		margin: 0 0 21px;
		line-height: 28px;
		font-family: 'corpid', 'Open sans', sans-serif;
	}
	&__member {
		width: 50%;
		float: left;
	}
	&__privacy {
		padding: 32px 0 34px;
	}
	&__footer {
		
	}
}
