﻿

/** Truth regular **/
@font-face {
  font-family: 'truth';
  src: url('../fonts/truth/truth-regular/truth-regular.eot');
  src: url('../fonts/truth/truth-regular/truth-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/truth/truth-regular/truth-regular.woff2') format('woff2'),
       url('../fonts/truth/truth-regular/truth-regular.woff') format('woff'),
       url('../fonts/truth/truth-regular/truth-regular.ttf')  format('truetype'),
       url('../fonts/truth/truth-regular/truth-regular.svg#truth-bold') format('svg');
  font-weight: 400;
  font-style: normal;
}