﻿// Screen sizes
@desktop: 			920px;
@tablet: 				1024px;
@portrait: 			767px;
@mobile: 				480px;
@full: 					auto;

// Color
@white: 					#ffffff;
@grey-lighter: 		#f3f4f4;
@grey-light: 			#e0e2e4;
@grey-middle: 		#959595;
@grey-average: 		#4c4c4c;
@grey-dark: 			#666666;
@input: 					#808080;
@smoke: 					#e6e6e6;
@red: 						#e30611;
@blue: 						#297db7;
@dark: 						#404040;
@black: 					#000000;
